html, 
body {
    height: 99%;
    font-family: sans-serif;
}

.k2-enters-chat {
    display: flex;
    flex-direction: column;
    height: 90%;
    font-family: monospace;
    background: #222;
    color: lime;
}

.app-container {
    display: none;
    flex-direction: column;
    padding: 0.5em;
}

.cursor {
    -webkit-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
}

@-webkit-keyframes blink {
    0% {color: #222}
    50% {color: lime}
    100% {color: #222}
}

@keyframes blink {
    0% {color: #222}
    50% {color: lime}
    100% {color: #222}
}

.app-container#droidchat {
    height: 100%;
}

.chatbox-container {
    overflow: hidden;
    position: relative;
    flex-grow: 1;
}

.chatbox {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.k2-console-container {
    overflow: auto;
}

.k2-console {
    display: flex;
    flex-direction: column;
}


.message-row {
    display: flex;
}

.message-container {
    display: none;
    flex-direction: row;
    /* padding-top: 10px; */
}

.username {
    font-weight: bold;
}

.MODBOT {
    color: red;
}

.TPOh {
    color: yellow;
}

.Are2 {
    color: skyblue;
}

.Chopper {
    color: lightgrey;
}

.ExM {
    color: lightgreen;
}

.Kay2 {
    color: pink;
}

ul.nopoint li::before {
    content: "\200B";
}

ul.creditlist {
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-inline-start: 1.1em;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: inherit;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 0.5em;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    font-size: inherit;
    padding: 0 1em;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }