html, 
body {
    display: flex;
    flex-direction: column;
    height: 99%;
    font-family: sans-serif;
}

.k2-enters-chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 40em;
    padding: 0.5em;
    font-family: monospace;
    background: #222;
    color: lime;
    flex-grow: 1
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5em;
}

.app-container#credits {
    justify-content: center;
}

.app-container#droidchat {
    display: none;
}

.chatbox-container {
    overflow: hidden;
    position: relative;
    flex-grow: 1;
}

.chatbox {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
}

.message-container {
    display: none;
    flex-direction: row;
}

/* Characters */
.username {
    font-weight: bold;
}

.MODBOT {
    color: red;
}

.TPOh {
    color: yellow;
}

.Are2 {
    color: skyblue;
}

.Chopper {
    color: lightgrey;
}

.ExM {
    color: lightgreen;
}

.Kay2 {
    color: pink;
}

/* Blinking cursor */
.cursor {
    -webkit-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
}

@-webkit-keyframes blink {
    0% {color: #222}
    50% {color: lime}
    100% {color: #222}
}

@keyframes blink {
    0% {color: #222}
    50% {color: lime}
    100% {color: #222}
}

/* Accordian menu */
.accordion {
    background-color: #eee;
    color: #444;
    padding: 1em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: inherit;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 0.5em;
}

.active:after {
    content: "\2212";
}

.panel {
    font-size: inherit;
    padding: 0 1em 1em 1em;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
